extends layout

block content
    include nav
    .detail#detail
      .joincontent
        p 2003/08 加入政大資科系。
        .about
          .col-md-6
            img(src= 'http://www.cs.nccu.edu.tw/~chenk/CK2010Office.jpg', class='aboutphoto') 
          .col-md-6.borderl
            h3 Education
            ol.aboutlist
              li 
                h4 Ph.D. 1994 
                p 
                  a(href='http://www.cs.nthu.edu.tw/', target='_blank', class='infocolor') Department of Computer Science, Yale University
              li 
                h4 B.S. 1985, M.S. 1987 
                p 
                  a(href='http://www.csie.ntu.edu.tw/', target='_blank', class='infocolor') Department of Computer Science and Information Engineering, National Taiwan University
          h3 Biography
          p Kung Chen is a Professor in the Department of Computer Science at the National Chengchi University, Taiwan. His research is focused on Aspect-Oriented Software Design, Programming Languages, and the interaction between programming languages and software design. Prior to joining NCCU, Dr. Chen worked in the software industry for a few years, and taught at National Taiwan University of Science and Technology and Tatung University. While in the industry, he was the chief architect for several Web application development tools and frameworks. Recently Kung has finished an aspect-oriented design and implementation of declarative access control for Web applications. With colleagues at National University of Singapore, he is developing a static and coherent aspect weaving system for higher-order functional languages. Kung is a co-organizer of the Asian Workshop on Aspect-Oriented Software Development (AAOSD) and a program committee member of the Fourth Asian Symposium on Programming Languages and Systems (APLAS 2006). He completed his Ph.D. in Computer Science at Yale University in 1994, and his thesis is about a parametric extension of Haskell's type classes.
