extends layout

block content
  include nav
  .detail#detail
    .cur
      h2 部分講授課程
      ul
        li Spring 2015, 社群媒體資料分析(傳院合開課程)
        li Spring 2015, 程式語言（原理）, Haskell, Scheme, JavaScript, ...
        li Fall 2014, 資料分析軟體工具
        li Fall 2014, 社群網路與應用（合開課程）
        li Fall 2013, 雲端應用程式開發 (感謝Amazon Web Services, AWS, 贊助價值USD4,200之使用點卷)
        li Spring 2011, Advanced Topics in Software Design
        li Spring 2011, Web Programming
        li Fall 2010, Compiler Design
        li Spring 2009, 
          a(href="http://www.cs.nccu.edu.tw/~chenk/Courses/PL/index.htm", target="_blank") Principles of Programming Languages 
          &nbsp;(in Chinese)
