extends layout


block content
    include nav
    .detail#detail
      ol.listtitle
        li
          h2
            a(href='https://sites.google.com/site/nccublockchain/', target='_blank') NCCU Blockchain Group 政大 區塊鏈實驗室
          span.listdate
            i.fa.fa-clock-o
              &nbsp&nbspMarch&nbsp20&nbsp2017
          hr.listliner
        li
          h2
            a(href='http://www.rirc.nccu.edu.tw/doc/105.05.28/smart_contract-NCCU-2016-05-28-Final.pdf') 智能合約（blockchain smart contracts）簡介
          span.listdate
            i.fa.fa-clock-o
              &nbsp&nbspMarch&nbsp20&nbsp2017
          hr.listliner
        li
          h2
            a(href='http://www.cs.nccu.edu.tw/~chenk/smart-motor.pdf') 智能車租用展示(含影片連結)
          span.listdate
            i.fa.fa-clock-o
              &nbsp&nbspMarch&nbsp20&nbsp2017
          hr.listliner
        //- li
        //-   h2
        //-     a(href='') 
        //-       使用七牛云提升博客加载速度
        //-   span.listdate
        //-     i.fa.fa-clock-o
        //-       &nbsp&nbspMarch&nbsp17&nbsp2017
        //-   hr.listliner
        //- li
        //-   h2
        //-     a(href='') 
        //-       First week in India
        //-   span.listdate
        //-     i.fa.fa-clock-o
        //-       &nbsp&nbspMarch&nbsp17&nbsp2017
        //-   hr.listliner
      //- .listnext
      //-   .listright
      //-     p Older posts →
      //-   .listleft
      //-     p ← Newer posts
        
  
