extends layout

block content
  include nav
  .detail#detail
    .listtitle
      .joincontent
        h2 徵求兼任研究助理與研究生
        .joinlist
          ol 
            li 本學期[軟體工程概論]課，將以智能合約DApp為期末專題題目。
            li 本學期碩士在職專班[資訊科技新趨勢專題]課，將講授區塊鏈與智能合約技術與應用。
            li 歡迎加入本人主持的區塊鏈團隊，一起學習並開發區塊鏈與智能合約技術。
        br
        h2 區塊鏈人才培訓
        .joinlist
          ol 
            li 區塊鏈(blockchain)平台
            li 智能合約(smart contract)(以太坊Ethereum, Hyperledger,...)
            li 資料分析與文字探勘
            li 多租戶應用程式開發框架 
        br
      .joinfooter#joinfooter
        &nbsp有意者請寄「自我簡介」給陳 恭老師 
        a(href='mailto:chenk@cs.nccu.edu.tw', class='joincolor') chenk@cs.nccu.edu.tw    

            
