doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style_web.css')
    link(rel='stylesheet', href='/stylesheets/style_mobile.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js")
    link(rel="Shortcut Icon" type="image/x-icon" href='/images/ck.jpg')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/javascripts/style.js')
      
  body
    block content
      //- p #{title}
      //- .nav#nav
      //-   .nav#nav
      //-     button.navclick
      //-       i.fa.fa-bars.fa-3x
      //-     .navlist
      //-       a(href='')  HOME
      //-       a(href='about') ABOUT
      //-       a(href='research') RESEARCH
      //-       a(href='course') COURSES
      //-       a(href='publications') PUBLICATIONS
      //-       a(href='join') JOIN
      //-         //- ol.navlist
      //-         //-   li 
      //-         //-     a(href='') HOME
      //-         //-   li 
      //-         //-     a(href='about') ABOUT
      //-         //-   li 
      //-         //-     a(href='research') RESEARCH
      //-         //-   li 
      //-         //-     a(href='course') COURSE
      //-         //-   li 
      //-         //-     a(href='publications') PUBLICATIONS
      //-         //-   li 
      //-         //-     a(href='join') JOIN
      //-   .main
      //-     .intro#intro
      //-       img(src= 'http://www.cs.nccu.edu.tw/~chenk/CK2010Office.jpg', class='ckphoto')
      //-       p.ckname Dr. Kung Chen
      //-       hr
      //-       .ckinfo  
      //-         p
      //-           i.fa.fa-briefcase.fa-fw 
      //-           a(href='', class="infocolor") &nbsp&nbspProfessor
      //-         p.infocolor
      //-           i.fa.fa-address-card
      //-           a(href='http://www.nccu.edu.tw/', target='_blank', class="infocolor") &nbsp&nbspDept.&nbspof&nbspComputer&nbspScience&nbsp National&nbspChengchi&nbspUniversity 
      //-         p.infocolor
      //-           i.fa.fa-envelope.fa-fw 
      //-           a(href='mailto:chenk@cs.nccu.edu.tw', target='_blank', class="infocolor") &nbsp&nbspchenk@cs.nccu.edu.tw
      //-         p.infocolor
      //-           i.fa.fa-phone.fa-fw 
      //-           a(href='', class="infocolor") &nbsp&nbsp(02)&nbsp29387242#62189
      //-       hr
      //-       .letter
      //-         ul 
      //-           li 
      //-             a(href='http://www.cs.nccu.edu.tw/~chenk/Advice4Students.pdf', target="_blank")給學生的建議(Advice for students)
      //-           li
      //-             a(href='http://www.cs.nccu.edu.tw/~chenk/letter2Freshmen-2011.pdf', target="_blank")給大一新生的一封信(A letter to freshmen)
      //-       .footer
      //-         span Copyright&nbsp©&nbspKung&nbspChen&nbsp2017.&nbspAll&nbspRights&nbspReserved
