extends layout

block content
  include nav
  .detail#detail
    .pub
      h2 代表性著作
      ol
        li Chun-Feng Liao, 
          strong Kung Chen, 
          &nbsp; Deik Hoong Tan, and Jiu-Jye Chen, “Automatic Query Rewriting Schemes for Multi-Tenant SaaS Applications, ” in Automated Software Engineering, (SCI, EI), 2015. (DOI) 10.1007/s10515-015-0178-2
        li C.F. Liao, C.C. Chen, 
          strong Kung Chen, 
          &nbsp; Toward a Tenant-aware Query Rewiting Engine for Universal Table Schema-Mapping, International Workshop on SaaS (Software-as-a-Service) Architecture and Engineering (SaaS 2012), col-located with IEEE CloudCom 2012, Dec. 2012, Taipei, Taiwan.
        li 
          strong Kung Chen,
          &nbsp; T-s. Hsu, C. J. Liao, D.W. Wang, "A Scripting Language for Automating Secure Multi-Party Computation," Eighth Asia Joint Conference on Information Security (Asia JCIS), Seoul, Korea, July 2013.
        li 
          strong Kung Chen, 
          &nbsp; S.C. Weng, J.Y. Lin, M. Wang, S.C. Khoo, "Side-Effect Localization for Lazy, Purely Functional Languages via Aspects," Higher-Order Logic and Symbolic Computation, March 2011. [EI]
        li 
          strong Kung Chen, 
          &nbsp; S.C. Weng, M. Wang, S.C. Khoo, and C.H. Chen, “Type-Directed Weaving of Aspects for Polymorphically Typed Functional Languages”, Science of Computer Programming, Nov. 2010. [SCI]
        li 
          strong Kung Chen, 
          &nbsp;Y.C. Chang and D.W. Wang, “Aspect-oriented Design and Implementation of Adaptable Access Control for Electronic Medical Records”, International Journal of Medical Informatics, Volume 79, Issue 3, Pages 181-203. March 2010 [SCI]
        li 
          strong Kung Chen 
          &nbsp;and D.W. Wang, Supporting Patients' Privacy Preferences Using Aspects, Japan Journal of Medical Informatics, Vol. 29, No. 3, 2009, pp. 117-128. (ISSN 0289-8055)
        li 
          strong Kung Chen,
          &nbsp;J.Y. Lin, S. C. Weng, and S.C. Khoo. "Design Aspects for Side-effect localization", PEPM 2009. ACM Press.
        li 
          strong Kung Chen,
          &nbsp; S C Weng, M Wang, S.C. Khoo, and C.H. Chen. "A Compilation Model for Aspect-Oriented Polymorphically Typed Functional Languages", Symposium of Static Analysis (SAS 2007).
        li 
          strong Kung Chen
          &nbsp; and Ju-Bing Chen, "Aspect-Based Instrumentation for Locating Memory Leaks in Java Programs", Third Asian Workshop on Aspect-Oriented Software Development, July 2007, Proc. of the 31st Annual International Computer Software and Applications Conference (IEEE COMPSAC 2007).
        li 
          strong Kung Chen,
          &nbsp; Chung-Hsin Chen, Shin-Yuan Chang, Chiehfen Chen, and Yu-Chuan Li, "A Rapid Development Environment for Synthesizing Guideline-Based Decision Support Systems, in the Processing of the First International Multi-symposiums on Computer and Computational Sciences (IMSCCS|06), Vol. 2, pp. 548-554, June 2006, Hangzhou, PRC. (IEEE Computer Society Press)
        li 
          strong Kung Chen
          &nbsp; and Ju-Bing Chen, "On Instrumenting Obfuscated Java Bytecode with Aspects", Software Engineering for Secure Systems (SESS06), held with ICSE 2006, Shanghai, PRC. (ACM Press)
        li 
          strong K. Chen
          &nbsp; and C.W. Lin, "An Aspect-Oriented Approach to Declarative Access Control for Web Applications," APWeb 2006, LNCS 3841, pp.176~188, Jan. 2006. (SCIE)
        li M. Wang, 
          strong K. Chen,
          &nbsp; and S.C. Khoo, "A Type-Directed Weaving of Aspects for Higher-Order Functional Languages, ACM SIGPLAN 2006 Workshop on Partial Evaluation and Program Manipulation (PEPM 06) Charleston, South Carolina, January 9-10, 2006. (ACM Press, EI)
        li 
          strong K. Chen,
          &nbsp;"Using Dynamic Aspect for Delegating Fine-Grained Access Rights," Asian Workshop on Aspect-Oriented Software Design, held with the Asia-Pacific Software Engineering Conference 2005, Dec. 17, 2005. (IEEE CS Press)
        li 
          strong K. Chen
          &nbsp; and C.M. Huang, "A Practical Aspect Framework for Enforcing Fine-Grained Access Control in Web Applications," First Information Security Practice and Experience Conference (ISPEC 2005),LNCS 3439, Singapore, April 2005. (SCIE)
        li C.F. Chen, 
          strong K. Chen,
          &nbsp; C.H. Chen, W. Tsai, and Y.C. Li, Synthesizing Guideline-Based Decision Support Systems Using Protege and Jess, Medical Informatics Symposium in Taiwan 2005, MIST 2005 (Best paper award).
        li 
          strong 陳 恭
          &nbsp;、陳忠信，國內商業網站對會員電子郵件隱私保護的實驗與觀察。TANET 2004，台東，台灣。
        li W.J. Lin and 
          strong K. Chen, 
          i "A Database Application Generator for the WWW", Journal of the Chinese Institute of Engineers, 
          &nbsp; Vol. 21, No.3, (1998). (SCIE)
        li 
          strong K. Chen
          &nbsp; and M. Odersky, "A Type Systems for a Lambda-Calculus with Assignments.
          i " Theoretical Aspects of Computer Software 1994, Lecture Notes in Computer Science 789, 
          &nbsp; pp. 347-364. (SCIE)
        li 
          strong K. Chen,
          &nbsp; P. Hudak and M. Odersky, 
          i "Parametric Type Classes", Proceedins of ACM Conf. on Lisp and Functional Programming, 
          &nbsp; pp. 170-181, 1992. (EI)
