extends layout

block content
  include nav
  .detail#detail
    .res
      h2 近年研究領域
      ul 
        li 社群媒體資料分析
        li 雲端計算環境下之應用系統設計議題(Multi-tenant support for SaaS)
        li Technologies for Web-based Information Systems
        li 程式語言原理與應用
        li 
          a(href="http://www.cs.nccu.edu.tw/~chenk/AOP-intro.pdf", target="_blank") Aspect-Oriented Software Design
